/*Переменные для цветовой палитры*/
:root {
  --hover-color: #2196f3;
  --white-color: #fff;
  --black-color: #000;
  --title-color: #757575;
  --back-color-ef: #2f303a;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --back-company: #f5f4fa;
  --telmail: rgba(255, 255, 255, 0.6);
  --button-back: #f5f4fa;
  --back-portfolio: #e5e5e5;
  --shadow-filt01: rgba(0, 0, 0, 0.1);
  --shadow-filt08: rgba(0, 0, 0, 0.08);
  --shadow-filt012: rgba(0, 0, 0, 0.12);
  --head-color: #212121;
  --back-color-button: #188ce8;
  --border-color: #ececec;
  --border-portfolio: #eeeeee;
  --color-icon: #afb1b8;
}
/*Основное для страницы*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list,
.main .company-list,
.task-list,
.company-title,
.clients-title,
.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sect-task {
  padding-top: 0px;
}
.body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.body .header {
  background-color: var(--white-color);
}
.body .button {
  cursor: pointer;
  border: none;
}
/*Шапка страницы*/
.cont-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.logo-web {
  color: var(--hover-color);
}
.nav-page,
.nav-contact {
  display: flex;
  list-style-type: none;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
}

.nav-page .item:not(:last-child),
.nav-contact .item:not(:last-child) {
  margin-right: 50px;
}

.nav-page .link {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  text-decoration: none;
  color: var(--head-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contact .link {
  padding-top: 30px;
  padding-bottom: 30px;

  text-decoration: none;
  color: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-page .link.current {
  color: var(--hover-color);
}
.nav-page .link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -3px;

  width: 100%;
  height: 4px;

  background-color: var(--hover-color);
  border-radius: 2px;
}

.filter .button-filt.current {
  background-color: var(--hover-color);
  color: var(--white-color);
}
.nav-page .link:hover,
.nav-page .link:focus,
.nav-contact .link:hover,
.nav-contact .link:focus,
.footer .link:hover {
  color: var(--hover-color);
  fill: var(--hover-color);
}

/*Эффективные решения*/
.main .effect {
  background-color: var(--back-color-ef);
  padding-top: 200px;
  padding-bottom: 210px;
}
.effect .effect-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 0;
  margin-bottom: 30px;
}
.effect .button-ef {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.effect .order-form .btn_send {
  padding: 10px 55px;
}
.effect .button-ef:hover,
.effect .button-ef:focus,
.footer_connect_btn:hover,
.footer_connect_btn:focus {
  background-color: var(--back-color-button);
}
/*Особенности и команда*/
.cont-feature {
  display: flex;
}
.feature-title-item {
  width: 270px;
}
.feature-title-item:not(:last-child) {
  margin-right: 30px;
}

.main .feature {
  list-style-type: none;
}
.feature .feature-title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--head-color);
}
.feature .feature-text {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.team-plus {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-color);
}

.task-title {
  display: flex;
  justify-content: space-between;
}

.company-cont {
  display: flex;
  justify-content: space-between;
}

.company-list:not(:last-child) {
  margin-right: 30px;
}

.task-item:not(:last-child) {
  margin-right: 30px;
}
.main .company {
  background-color: var(--back-company);
}
.company .company-party {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-color);
}
.company .company-post {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.item-team {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*Нижний колонтитул*/
.footer {
  background-color: var(--back-color-ef);
}
.adress {
  padding: 60px 0px;
}
.cont-footer {
  display: flex;
}
.adr-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .footer-logo {
  color: var(--white-color);
}
.footer .footer-adress {
  list-style-type: none;
  padding-top: 20px;
  margin-right: 70px;
}
.footer .link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer .telmail {
  color: var(--telmail);
}
/*Портфолио*/

/*Фильтр*/
.filter,
.gallery {
  list-style-type: none;
  font-size: 14px;
}
.filter {
  display: flex;
  justify-content: center;
}
.cont-filt:not(:last-child) {
  margin-right: 8px;
}
.filter .button-filt {
  padding: 6px 22px;

  letter-spacing: 0.06em;
  color: var(--head-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--button-back);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter .button-filt:hover,
.filter .button-filt:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px var(--shadow-filt01), 0px 1px 2px var(--shadow-filt08),
    0px 2px 2px var(--shadow-filt012);
  color: var(--white-color);
}
/*Работы*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  /* margin-left: -30px;*/
}
.gallery-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-item:nth-child(3n) {
  margin-right: 0px;
}
.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.gallery .gallery-link {
  text-decoration: none;
  scroll-snap-type: none;
}
.gallery .gallery-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--head-color);
}
.gallery .gallery-comment {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.gallery-text {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio);
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery-link {
  display: inline-block;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img_overlay.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-envelope,
.contact-phone {
  margin-right: 10px;
  fill: currentColor;
}
.contact-link {
  display: flex;
  align-items: center;
}

.feature-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--button-back);
}
.company-social-list {
  display: flex;
  justify-content: center;
}
.company-link-social {
  fill: var(--color-icon);
}
.company-social-list {
  margin-top: 16px;
}
.company-link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-list:not(:last-child) {
  margin-right: 10px;
}

.company-link-social:hover,
.company-link-social:focus {
  background-color: var(--hover-color);
  fill: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--head-color);
}

.list-clients {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.item-clients:not(:last-child) {
  margin-right: 30px;
}

.link-clients {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: var(--color-icon);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover,
.link-clients:focus {
  border: 1px solid #2196f3;
  fill: var(--hover-color);
}

.content {
  padding-top: 72px;
}
h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
}

.social-network-footer {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.social-footer:not(:last-child) {
  margin-right: 10px;
}
.social-link-footer {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--hover-color);
  fill: var(--white-color);
}

.task-name {
  position: relative;
}

.task-container {
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  left: 0px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.task-text {
  font-size: 14px;
  font-weight: 700;
}
.item-container {
  position: relative;
  overflow: hidden;
}

.item-thumb {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: var(--white-color);
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thump-gallery {
  padding: 63px 24px;
}

.gallery-link:hover .item-thumb,
.gallery-link:focus .item-thumb {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;

  padding: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  color: var(--hover-color);
}

.close-modal {
  fill: currentColor;
}

.modal-title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--head-color);
}

.contact-form {
  text-align: center;
}

.form-field {
  display: block;
  margin-bottom: 10px;

  text-align: left;
}

.form-field.comments {
  margin-bottom: 20px;
}

.form-field:focus-within .form-input,
.form-field:focus-within .form-comments {
  outline: 0;
  border-color: var(--hover-color);
}

.form-field:focus-within .form-input-icon {
  color: var(--hover-color);
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input-container {
  position: relative;

  display: block;
}

.form-input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 42px;

  line-height: 1.14;
  letter-spacing: 0.01em;

  color: var(--title-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 13px;
  color: var(--head-color);
  fill: currentColor;
  transform: translateY(-50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments {
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  resize: none;
  color: var(--title-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.checkbox-container {
  position: relative;

  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  cursor: pointer;
}

.checkbox-icon-checked {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 15px;

  transform: scale(0.2);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon-unchecked {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-color);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon-checked {
  transform: scale(1);
  opacity: 1;
}

.checkbox:checked ~ .checkbox-icon-unchecked {
  border-color: var(--hover-color);
}

.checkbox:focus ~ .checkbox-icon-unchecked,
.checkbox:hover ~ .checkbox-icon-unchecked {
  border-color: var(--hover-color);
}

.checkbox:focus:checked ~ .checkbox-icon-unchecked,
.checkbox:hover:checked ~ .checkbox-icon-unchecked {
  border-color: var(--title-color);
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-label {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.checkbox-label-link {
  color: var(--hover-color);
  text-decoration-line: underline;
}

.footer_connect_btn {
  display: flex;
  padding: 10px 62px 10px 29px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_connect {
  margin-top: 72px;
  margin-left: 93px;
}
.footer_connect_telegram {
  position: relative;
  display: flex;
  align-items: center;
}

.footer_connect-icon {
  position: absolute;
  right: 28px;
  fill: white;
}

.footer_connect-input {
  display: flex;
  width: 358px;
  height: 50px;
  padding: 12px 16px;

  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: var(--back-color-ef);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_connect-field:focus-within .footer_connect-input {
  outline: 0;
  border-color: var(--hover-color);
}
